<nav>
  <div class="site-title">
    <a href="/"><h1>Marks Blog</h1></a>
    <p>Mark Kirzhner - Web Developer</p>
  </div>
  <ul>
    <li><a href="/">Blog</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>