<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  
  <%- include("./partials/nav.ejs") %>

  <h1>404 - OOPSI!</h1>
  <h2>Page doesn't exist</h2>
  <div class="site-title">
    <img src=https://wpklik.com/wp-content/uploads/2019/03/A-404-Page-Best-Practices-and-Design-Inspiration.jpg alt="404 PAGE NOT FOUND">
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>