<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
 <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio cupiditate voluptas repudiandae doloribus exercitationem laborum sint? Et necessitatibus quod maiores.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio cupiditate voluptas repudiandae doloribus exercitationem laborum sint? Et necessitatibus quod maiores.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio cupiditate voluptas repudiandae doloribus exercitationem laborum sint? Et necessitatibus quod maiores.</p>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>
</html>